.text-bento2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    min-height: 100vh;
    margin-bottom: 50px;
    height: max-content;
    margin-bottom: auto;
    overflow-x: hidden;
}

.text-bento2 {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 5vw;
}

.text2 {
    display: flex;
    align-items: flex-end;
    gap: 11vw;
}

.text2 h1 {
    width: 43vw;
    font-size: 2.7vw;
    font-weight: 600;
}

.text2>p {
    width: 30vw;
    font-size: 1vw;
}

@media screen and (max-height : 600px) {
    .text-bento2-wrapper{
        margin-bottom: 12vh !important;
    }
}


@media screen and (max-height : 500px) {
    .text-bento2-wrapper{
        margin-bottom: 15vh !important;
    }
}


@media screen and (max-height : 430px) {
    .text-bento2-wrapper{
        margin-bottom: 20vh !important;
    }
}


@media screen and (max-height : 400px) {
    .text-bento2-wrapper{
        margin-bottom: 25vh !important;
    }
}


@media screen and (max-height : 350px) {
    .text-bento2-wrapper{
        margin-bottom: 30vh !important;
    }
}
